@model System.Collections.Generic.List<Kollaborator.web.Models.GroupModel>

<div class="row">
    <div class="row-same-Height">
        <div class="col-lg-2 col-lg-height">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <ul class="nav nav-stacked nav-pills">
                    <li class="user" id="@WebSecurity.CurrentUserName">Hi @WebSecurity.CurrentUserName</li>
                    <li>@Ajax.ActionLink("+ New Group", "Create", "Group", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "groupDisplay" })</li>
                    @if (Model != null)
                    {
                        var idx = 1;
                        foreach (var group in Model)
                        {

                            if (idx++ == 1)
                            {
                                <li class="fade in"> @Ajax.ActionLink(group.groupName, "Group", "Group", new { groupID = group.groupID }, new AjaxOptions { UpdateTargetId = "groupDisplay" })</li>
                            }
                            else
                            {
                                <li class="fade in">@Ajax.ActionLink(group.groupName, "Group", "Group", new { groupID = group.groupID }, new AjaxOptions { UpdateTargetId = "groupDisplay" })</li>
                            }




                        }
                        <li class="fade in"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }

                </ul>
            }
        </div>
        <div id="groupDisplay" class="col-lg-10 col-lg-height col-top">


            @if (Model.Count >= 1)
            {
                Html.RenderAction("Group", "Group", new { groupID = Model.First().groupID });
            }
            else
            {

            }
        </div>
    </div>
</div>
