@model Kollaborator.web.Models.GroupViewModel


@{
    ViewBag.Title = "Group";
}


<div class="page-header">
    <h1>@Model.group.groupName</h1>
</div>
<div class="col-lg-6 column">
    <div class="panel panel-default">
        <div class="tabbable" id="tabs-784981">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#images" data-toggle="tab">Images</a></li>
                <li><a href="#audio" data-toggle="tab">Audio</a></li>
                <li><a href="#management" data-toggle="tab">Management</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="images">
                    @foreach (var file in Model.files)
                    {
                        var fullPath = "../Content/" + Path.GetFileName(file.path);
                        var thumbPath = "../Content/" + Path.GetFileName(file.thumbnail);
                        if (file.FileType.Contains("image/"))
                        {
                            <a class="fancybox-buttons" data-fancybox-group="button" href="@fullPath"><img src="@thumbPath" alt="" /></a>

                        }
                    }
                </div>
                <div class="tab-pane fade in " id="audio">
                    @foreach (var file in Model.files)
                    {
                        var fullPath = "../Content/" + Path.GetFileName(file.path);
                        var thumbPath = "../Content/" + Path.GetFileName(file.thumbnail);
                        if (file.FileType.Contains("audio/"))
                        {
                            <audio controls>
                                <source src='@Url.Content(fullPath)' type=file.FileType>
                                Your browser does not support the audio tag.
                            </audio>
                        }
                    }
                </div>

                <div class="tab-pane fade in " id="management">

                    @using(Html.BeginForm("Management", "Group",  new { groupID = Model.group.groupID }, FormMethod.Post)){
                    foreach (var member in Model.users)
                    {
                        using (Html.BeginCollectionItem("users"))
                        {
                                                            @member
                        <input type="hidden" name="UserName"value="@member"/>
                                                            }
                    }

                    <div class="control-label col-md-2">
                        <a class="insert-new-user" href="javascript:insertNewUser()">Add a user</a>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Manage" class="btn btn-default" />
                        </div>
                    </div>}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-lg-6 column">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>
        <div class="panel-body">

            <h4>Select files from your computer</h4>
            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="file" name="files[]" id="js-upload-files" multiple>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                </div>
            </form>

            <!-- Drop Zone -->
            <h4>Or drag and drop files below</h4>
            <div class="upload-drop-zone" id="drop-zone">
                Just drag and drop files here
            </div>

            <!-- Progress Bar -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>

            <!-- Upload Finished -->
            <div class="js-upload-finished">
                <!-- <h3>Processed files</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                    <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
                </div>-->
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="chatContainer">

            <div class="row">
                <div class="col-lg-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <span class="glyphicon glyphicon-comment"></span> Chat
                            <div class="btn-group pull-right">
                                <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="collapseOne">
                            <div class="panel-body">
                                <ul class="chat">
                                    @foreach (var message in Model.messages)
                                    {
                                        var timestamp = DateTime.Now - message.timestamp;
                                        var messagetime = "";
                                        if (timestamp.Days > 1)
                                        {
                                            messagetime = timestamp.Days + "ago";
                                        }
                                        else
                                        {
                                            messagetime = timestamp.Hours + "ago";
                                        }
                                        var sender = message.sender;
                                        if (sender.Equals(WebSecurity.CurrentUserName))
                                        {

                                            <li class="right clearfix">
                                                <span class="chat-img pull-right">
                                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                                        <strong class="pull-right primary-font">@sender</strong>@messagetime
                                                    </div>
                                                    <p>

                                                        @message.message


                                                    </p>
                                                </div>
                                            </li>
                                        }
                                        else
                                        {
                                            var firstLetterofName = sender.ElementAt(0);
                                            var imgSrc = "http://placehold.it/50/55C1E7/fff&text=" + firstLetterofName;
                                            <li class="left clearfix">
                                                <span class="chat-img pull-left">
                                                    <img src=@imgSrc alt="User Avatar" class="img-circle" />
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">@sender</strong> <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>@messagetime
                                                        </small>
                                                    </div>
                                                    <p>
                                                        @message.message

                                                    </p>
                                                </div>
                                            </li>
                                        }
                                    }

                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat">
                                            Send
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>






@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@if (ViewBag.view == "group")
{
    <script type="text/javascript">
        function insertNewUser() {
            $.ajax({
                url: '@Url.Action("AddUserToGroup")',
                success: function (data) {
                    if ($("div.single-user-wrapper:last").length > 0) {
                        $(data).insertAfter("div.single-user-wrapper:last");
                    } else {
                        $(data).insertAfter("a.insert-new-user");
                    }
                }
            });
        }
        /*$(function () {
             var notificationHub = $.connection.notificationHub;

             notificationHub.sendMessage = function (content) {
                 $("#target")
                    .find('ul')
                    .append($("<li></li>").html(content));
             };

             $.connection.hub.start(function () {
                 notificationHub.activate(function (response) {
                     $("#target")
                    .find('ul')
                    .append($("<li></li>").html(response));
                 });
             });
         });*/

        + function ($) {
            'use strict';

            // UPLOAD CLASS DEFINITION
            // ======================

            var dropZone = document.getElementById('drop-zone');
            var uploadForm = document.getElementById('js-upload-form');

            var startUpload = function (files) {
                var data = new FormData();

                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "/Group/Upload/?groupID=@Model.group.groupID",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        alert(result);
                    },
                    error: function () {
                        alert("There was error uploading files!");
                    }
                });
            };


            uploadForm.addEventListener('submit', function (e) {
                var uploadFiles = document.getElementById('js-upload-files').files;
                e.preventDefault()

                startUpload(uploadFiles)
            })

            dropZone.ondrop = function (e) {
                e.preventDefault();
                this.className = 'upload-drop-zone';

                startUpload(e.dataTransfer.files)
            }

            dropZone.ondragover = function () {
                this.className = 'upload-drop-zone drop';
                return false;
            }

            dropZone.ondragleave = function () {
                this.className = 'upload-drop-zone';
                return false;
            }

        }(jQuery);
        $(function () {
            $('#file_upload').uploadify({
                'swf': "@Url.Content("~/Scripts/uploadify.swf")",
                'cancelImg': "~/Scripts/uploadify-cancel.png",
                'uploader': '@Url.Action("FileUpload", "Group", new { groupID = Model.group.groupID })',
                'onUploadSuccess': function (file, data, response) {
                    $("#uploaded").append("<img src='" + data + "' alt='Uploaded Image' />");
                }
            });
        });

        $("a.deleteRow").live("click", function () {
            $(this).parents("div.editorRow:first").remove();
            return false;
        });
        $(document).ready(function () {
            /*
             *  Simple image gallery. Uses default settings
             */

            $('.fancybox').fancybox();

            /*
             *  Different effects
             */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    overlay: {
                        speedOut: 0
                    }
                }
            });

            // Disable opening and closing animations, change title type
            $(".fancybox-effects-b").fancybox({
                openEffect: 'none',
                closeEffect: 'none',

                helpers: {
                    title: {
                        type: 'over'
                    }
                }
            });

            // Set custom style, close if clicked, change title type and overlay color
            $(".fancybox-effects-c").fancybox({
                wrapCSS: 'fancybox-custom',
                closeClick: true,

                openEffect: 'none',

                helpers: {
                    title: {
                        type: 'inside'
                    },
                    overlay: {
                        css: {
                            'background': 'rgba(238,238,238,0.85)'
                        }
                    }
                }
            });

            // Remove padding, set opening and closing animations, close if clicked and disable overlay
            $(".fancybox-effects-d").fancybox({
                padding: 0,

                openEffect: 'elastic',
                openSpeed: 150,

                closeEffect: 'elastic',
                closeSpeed: 150,

                closeClick: true,

                helpers: {
                    overlay: null
                }
            });

            /*
             *  Button helper. Disable animations, hide close button, change title type and content
             */

            $('.fancybox-buttons').fancybox({
                openEffect: 'none',
                closeEffect: 'none',

                prevEffect: 'none',
                nextEffect: 'none',

                closeBtn: false,

                helpers: {
                    title: {
                        type: 'inside'
                    },
                    buttons: {}
                },

                afterLoad: function () {
                    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
                }
            });


            /*
             *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
             */

            $('.fancybox-thumbs').fancybox({
                prevEffect: 'none',
                nextEffect: 'none',

                closeBtn: false,
                arrows: false,
                nextClick: true,

                helpers: {
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                }
            });

            /*
             *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
            */
            $('.fancybox-media')
                .attr('rel', 'media-gallery')
                .fancybox({
                    openEffect: 'none',
                    closeEffect: 'none',
                    prevEffect: 'none',
                    nextEffect: 'none',

                    arrows: false,
                    helpers: {
                        media: {},
                        buttons: {}
                    }
                });

            /*
             *  Open manually
             */

            $("#fancybox-manual-a").click(function () {
                $.fancybox.open('1_b.jpg');
            });

            $("#fancybox-manual-b").click(function () {
                $.fancybox.open({
                    href: 'iframe.html',
                    type: 'iframe',
                    padding: 5
                });
            });

            $("#fancybox-manual-c").click(function () {
                $.fancybox.open([
                    {
                        href: '1_b.jpg',
                        title: 'My title'
                    }, {
                        href: '2_b.jpg',
                        title: '2nd title'
                    }, {
                        href: '3_b.jpg'
                    }
                ], {
                    helpers: {
                        thumbs: {
                            width: 75,
                            height: 50
                        }
                    }
                });
            });


        });
    </script>
}
<style type="text/css">
    .fancybox-custom .fancybox-skin {
        box-shadow: 0 0 50px #222;
    }

    body {
        width: 100%;
        margin: 0 auto;
    }

    .chatContainer {
    }

    .panel-primary {
        position: fixed;
        width: 250px;
        bottom: 0px;
        right: 7px;
    }

    .container {
    }
</style>
