@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/png" href="/note.png" />

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
    <div class="container">
        @RenderBody()
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    
    @Scripts.Render("~/bundles/bootstrap")
    @if (ViewBag.view == "group") { 
    <script type="text/javascript">
    $(function () {
        $('#file_upload').uploadify({
            'swf': "@Url.Content("~/Scripts/uploadify.swf")",
            'cancelImg': "~/Scripts/uploadify-cancel.png",
            'uploader': '@Url.Action("FileUpload", "Group", new { groupID = Model.Item1.groupID })',
            'onUploadSuccess': function (file, data, response) {
                $("#uploaded").append("<img src='" + data + "' alt='Uploaded Image' />");
            }
        });
    });
    </script>
    }
    <script type="text/javascript">
    $("a.deleteRow").live("click", function () {
        $(this).parents("div.editorRow:first").remove();
        return false;
    });
    </script>
    @RenderSection("scripts", required: false)
   
</body>
</html>
